<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<!-- *************************************************************** -->
<!-- This file is required                                           -->
<!-- *************************************************************** -->

<suite name="MyStackSuite" time-out="10000" verbose="1">
    <test name="MyStackSuite">
        <groups>
            <run>
                <include name="Teacher"/>
            </run>
        </groups>
        <classes>
            <class name="stack.MyStackTest"/>
            <class name="lru.cache.CacheTest"/>
            <class name="pair.PairTest"/>
            <class name="generic.methods.PrinterTest"/>
            <class name="generic.methods.ArgumentsTest"/>
        </classes>
    </test>
</suite>
